<section id="home" class="home-newsletter">
    <div class="row no-margin">
        <div class="col-sm-12 center-title">
            <h2><i class="fa fa-calendar"></i> <%= t('.message') %></h2>
        </div>
    </div>
</section>


<% @messages_intro.each do |message| %>
<div class="row">
<% if message.user_status(current_user) == 'sender' %>
  <div class="<%= message.user_status(current_user)%> col-md-4 col-md-offset-3">
    id: <%= message.id %> <br>
    user_id: <%= message.user_id %> <br>
    content: <%= message.content %> <br>
    recipient_id: <%= message.recipient_id %> <br>
  </div>
  <% else %>
  <div class="<%= message.user_status(current_user) %> col-sm-6">
    id: <%= message.id %> <br>
    user_id: <%= message.user_id %> <br>
    content: <%= message.content %> <br>
    recipient_id: <%= message.recipient_id %> <br>
  </div>
</div>
  <% end %>
  <% if current_user.id == message.user_id %>
    <%= link_to 'view conversation', conversation_path(message.recipient), class:"btn btn-md btn-skin btn-radius" %>
  <% else %>
    <%= link_to 'view conversation', conversation_path(message.user), class:"btn btn-md btn-skin btn-radius" %>
  <% end  %>
<% end  %>
