<%= link_to 'back to all conversation', messages_path, class:"btn btn-md btn-skin btn-radius" %>

<% @messages.each do |message| %>
  <div class="<%= message.user_status(current_user) %>">
    created_at: <%= message.created_at %> <br>
    id: <%= message.id %> <br>
    content: <%= message.content %> <br>
    recipient_id: <%= message.recipient_id %> <br>
  </div>
  <% end %>
