<section id="home" class="home-newsletter">
    <div class="row no-margin">
        <div class="col-sm-12 center-title">
            <h2><i class="fa fa-calendar"></i> <%= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %></h2>
        </div>
    </div>
</section>

<div class="wrapper-grey padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="contact-home-form">

        <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email %><br />
          <%= f.email_field :email %></div>

          <div><%= f.submit t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions'), class:"btn btn-skin btn-radius" %></div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
