<h1>Add a review</h1>

<%= simple_form_for @booking do |f| %>
  <%= f.error_notification %>
  <%= f.input :review_content %>
  <%= f.input :review_rating %>
  <div class="text-center">
    <%= f.button :submit %>
  </div>
<% end %>
