<section id="home" class="home-newsletter">
    <div class="row">
        <div class="col-sm-12 center-title">
            <h2><i class="fa fa-calendar"></i> <%= t('.my_bookings') %></h2>
        </div>
        <div class="col-sm-12 text-center">
          <%= link_to t('.new_lesson'), all_lessons_path, class:"btn btn-lg btn-skin btn-radius" %>
        </div>
    </div>
</section>

<section class="blog" id="search">
  <div class="container">

    <div class="row">
      <% if @bookings == [] %>
      <div class="col-sm-8  col-sm-offset-2 text-center wow animated bounceIn">
        <p> <%= t('.no_booking')  %> </p>
      </div>
      <% end %>
    </div>

    <% if @future_bookings != [] %>
    <div class="row">
      <div class="col-sm-12 center-title wow animated bounceIn padded-custom">
        <h2><%= t('.next_bookings') %></h2>
      </div>
        <% @future_bookings.each do |booking| %>
      <div class="col-sm-4">
        <div class="item" id='search-item-list'>
          <h3 class="home"><a href='/lessons/<%=booking.lesson.id%>'><%= booking.lesson.name%></a></h3>
          <ul class="list-inline">
            <li><a href="#"><i class="ti-user"></i>By <%= booking.lesson.teacher.first_name %> </a></li>
            <li><i class="ti-calendar"></i><%= booking.lesson.start_date.to_time.to_formatted_s(:short) %></li>
            <li><a href="#"><i class="ti-comments"></i><%= booking.lesson.price %> €</a></li>
          </ul>
          <% if booking.status == 'confirmed' %>
          <a href="/bookings/<%= booking.id%>/cancel" class="btn btn-default card"> Annuler </a>
          <% else %>
          <a href="#" class="btn btn-black card"> Annulé </a>
          <a href="/lessons/<%= booking.lesson.id%>" class="btn btn-default card"> Se réinscrire </a>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if @past_bookings != [] %>
    <div class="row">
      <div class="col-sm-12 center-title wow animated bounceIn padded-custom">
        <h2><%= t('.past_bookings') %></h2>
      </div>
      <% @past_bookings.each do |booking| %>
      <div class="col-sm-4">
        <div class="item" id='search-item-list'>
          <h3 class="home"><a href="/lessons/<%=booking.lesson.id%>"> <%= booking.lesson.name%></a></h3>
          <ul class="list-inline">
            <li><a href="#"><i class="ti-user"></i>By <%= booking.lesson.teacher.first_name %> </a></li>
            <li><i class="ti-calendar"></i><%= booking.lesson.start_date.to_time.to_formatted_s(:short) %></li>
            <li><a href="#"><i class="ti-comments"></i><%= booking.lesson.price %> €</a></li>
          </ul>
          <a href="#" class="btn btn-default card"> Noter ce cours </a>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

  </div>
</section>
