<ul>
  <li>Booking_id: <%= @booking.id %></li>
  <li>Lesson_id: <%= @booking.lesson_id %></li>
  <li>Payment status: <%= @booking.payment_state %></li>
  <li>Item: <%= @booking.lesson_sku %></li>
  <li>Amount: <%= humanized_money_with_symbol(@booking.amount) %></li>
  <li>Review: <%= @booking.review_content %></li>
  <li>Rating: <%= @booking.review_rating %></li>
<ul>
