<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :birth_date %>
  <%= f.select :gender, ['Femme', 'Homme', 'Non-défini'] %>
  <%= f.input :phone %>
  <%= f.input :yoga_type %>
  <%= f.input :level %>
  <%= f.select :level, ['Débutant', 'Confirmé', 'Expert'] %>
  <%= f.input :street %>
  <%= f.input :city %>
  <%= f.input :zipcode %>

  <% if @user.teacher? %>
    <%= f.input :experience %>
    <%= f.input :description %>
    
  <% end %>

  <div class="text-center">
  <%= f.button :submit %></div>
<% end %>
