<%= simple_form_for(@user, html: { class: 'assan-contact'}) do |f| %>
  <%= f.error_notification %>
<div class="col-sm-3 center-title profil_avatar">
  <div class="col-sm-12" id="avatar_profil">
    <%= show_big_avatar(@user) %>
  </div>
  <div class="col-sm-12">
    <%= f.input :photo, label: false %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>
</div>
<div class="col-sm-6">
  <div class="wrapper-grey">
    <div class="row">
      <div class="col-sm-12">
        <%= f.input :first_name, input_html: { class: 'form-control'} %>
      </div>
      <div class="col-sm-12">
        <%= f.input :last_name, input_html: { class: 'form-control'} %>
      </div>
      <div class="col-sm-12">
        <%= f.input :email, input_html: { class: 'form-control'} %>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
            <div class="col-sm-8 no-padding">
              <%= f.input :birth_date, as: :string, input_html: { class: 'form-control'} %>
            </div>
            <div class="col-sm-4 datepicker-btn-padding">
              <span class="input-group-addon btn btn-skin btn-radius btn-lg">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 checkbox_container">
        <%= f.input :gender, collection: [:male, :female]%>
      </div>
      <div class="col-sm-12">
        <%= f.input :phone, input_html: { class: 'form-control'} %>
      </div>
      <div class="col-sm-12">
        <%= f.input :yoga_type, as: :check_boxes, collection: ['Ashtanga Vinyasa Yoga', 'Iyengar Yoga', 'Vinyasa Yoga', 'Hatha Yoga', 'Yoga Chamanique', 'Yin Yoga', 'Pranayama'], item_wrapper_class: 'inline', input_html: { multiple: true } %>
      </div>
      <div class="col-sm-12">
        <%= f.input :level, collection: [:beginner, :confirmed, :expert], input_html: { class: 'form-control'}%>
      </div>
      <div class="col-sm-12">
        <%= f.input :address, input_html: { id: 'user_input_autocomplete_address' } %>
      </div>
      <div class="col-sm-12">
        <%= f.input :street_number, input_html: { id: 'street_number', class: 'form-control'}, as: :hidden %>
      </div>
      <div class="col-sm-12">
        <%= f.input :street, input_html: { id: 'route', class: 'form-control'}, as: :hidden %>
      </div>
      <div class="col-sm-12">
        <%= f.input :city, input_html: { id: 'locality', class: 'form-control'}, as: :hidden %>
      </div>
      <div class="col-sm-12">
        <%= f.input :zipcode, input_html: { id: 'postal_code', class: 'form-control'}, as: :hidden %>
      </div>
      <% if @user.teacher? %>
      <p> Vos informations en tant que professeur </p>
      <div class="col-sm-12">
        <%= f.input :experience, input_html: { class: 'form-control'} %>
      </div>
      <div class="col-sm-12">
        <%= f.input :description, input_html: { class: 'form-control'} %>
      </div>
      <div class="col-sm-12">
      <%= f.input :photos, as: :attachinary %>
      </div>
      <% end %>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <div class="data-status animated fadeInDown"></div> <!-- data submit status -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <%= f.button :submit, class:'btn btn-lg btn-skin btn-radius margin-b-20' %>
        </div>
      </div>
      <% end %>
  </div>
</div>

  <% content_for(:js) do %>
  <%= javascript_tag do %>
  $(function () {
    $('#datetimepicker1').datetimepicker({
              viewMode: 'years',
              format: 'DD/MM/YYYY'
                });
  });
  <% end %>
  <% end %>
