<!-- Include Google Maps JS API -->
<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['GOOGLE_API_BROWSER_KEY']%>">
</script>

<script type="text/javascript" src="autocomplete.js"></script>

<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 center-title">
        <div class="col-sm-4 col-sm-offset-4 center-title">
          <i class="fa fa-user"></i>
          <h2><%= t(".profile", default: "Profile") %></h2>
        </div>
        <div class="col-sm-4">
          <% unless @user.teacher? %>
          <%= link_to t('.become_teacher'), new_teacher_path, class:"btn btn-lg btn-skin btn-radius teacher" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render 'form_user' %>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 center-title">
        <% if @user.teacher? %>
        <div class="col-sm-6 center-title">
          <%= link_to t('.view_public_profile'), teacher_path(@user), class:"link_profile" %>
        </div>
        <div class="col-sm-6 center-title">
          <%= link_to t('.my_lessons'), lessons_teacher_path(@user), class:"link_profile" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
