<!-- Include Google Maps JS API -->
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['GOOGLE_API_BROWSER_KEY']%>">
</script>

<script type="text/javascript" src="autocomplete.js"></script>

<div class="container">
  <h1 class="text-center"><%= t(".profile", default: "Profile") %></h1>
  <div class="row">
    <div class="col-xs-offset-2 col-xs-1">
      <%= image_tag @user.photo, class:"avatar avatar-large" %>
    </div>
    <div class="col-xs-6">
      <%= render 'form_user' %>
      <% if @user.teacher? %>
        <%= link_to t('.view_public_profile'), teacher_path(@user) %>
        <%= link_to t('.my_lessons'), my_lessons_teacher_path(@user) %>
      <% else %>
        <%= link_to t('.become_teacher'), new_teacher_path %>
      <% end %>
    </div>
  </div>
</div>
