 <header class="navbar navbar-default header-v2 navbar-fixed-top">
     <div class="container">
        <div class="navbar-header scroll-to">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <%= link_to root_path, class: "navbar-brand" do %>
                Yoga Story
            <% end %>   
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav scroll-to navbar-nav">
                <% if user_signed_in? %>
                  <li class="active"> <%= link_to t(".profile", default: "Profile"), user_path(current_user) %>
                  </li>

            <ul class="nav scroll-to navbar-nav">
                  <li><%= link_to destroy_user_session_path, method: :delete do %>
                    <i><%= t(".sign_out", default: "Log out") %></i>
                  </li>
                  <% end %>
            </ul>

                <% if current_user.teacher? %>
                  <li><%= link_to t(".offer", default: "My classes proposal"), lessons_teacher_path(current_user) %>
                  </li>
                
            <% else %>

                  <li><%= link_to t(".lessons", default: "My lessons"), my_student_index_bookings_path %>
                  <% end %>
            </ul>

                
            <% else %>

                  <li class="active"><%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path %>
                  </li>

            <% end %>
                
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</header>