<!-- Static navbar -->
        <nav class="navbar header-v1 header-transparent navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header scroll-to">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Yoga Story</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                  <ul class="nav scroll-to navbar-nav">

                    <li class="active"><%= link_to 'home', root_path %></li>

                    <!-- <li><a href="#features">features</a></li>
                    <li><a href="#pricing">pricing</a></li>
                    <li><a href="#newsletter">Subscribe </a></li> -->
                      <% if user_signed_in? %>



      <!-- dropdown -->
        <li class="dropdown">
          <%= link_to t(".profile", default: "Profile"), root_path, class: "dropdown-toggle", "data-toggle" => "dropdown" %><i class="fa fa-angle-down"></i>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-calendar-check-o"></i> <%= t(".lessons", default: "My lessons") %>
              <% end %>
            </li>

            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>

          </ul>
      </li>

    <% else %>

      <!-- Login text link -->
      <li>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </li>

    <% end %>

                  </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="button-nav"><a <%= link_to t(".help", default: "How it works"), root_path %></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav><!--navigation end here-->
