<section id="home" class="banner-intro banner-slider">
  <div class="banner-inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-8  col-sm-offset-2 text-center wow animated bounceIn">
          <h1><%= t('.tagline') %></h1>
          <p class="lead">
            <!-- A Beautiful and simplest way to build your next landing page. -->
          </p>

          <div class="scroll-to banner-buttons">
          <%= render 'search' %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 center-title">
        <h2><%= t('.help') %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus, adipisci aliquid inventore et quaerat alias.</p>
    </div>
  </div><!--center title row end-->
  <div class="row">
    <div class="col-sm-4">
      <div class="feature-box wow animated fadeInDown" data-wow-delay="0.1s">
        <i ><%= cl_image_tag("logo_ywbqkh.png", :color=>"#fff", :effect=>"grayscale", :opacity=>32, :width=>50, :crop=>"scale") %></i>
        <h3>Mobile friendly</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="feature-box wow animated fadeInDown" data-wow-delay="0.2s">
        <i class="icon-chat red"></i>
        <h3>24/7 support</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="feature-box wow animated fadeInDown" data-wow-delay="0.3s">
        <i class="icon-layers green"></i>
        <h3>SASS preprocessors </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="feature-box wow animated fadeInDown" data-wow-delay="0.4s">
        <i class="icon-pencil blue"></i>
        <h3>Easy to use</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="feature-box wow animated fadeInDown" data-wow-delay="0.5s">
        <i class="icon-gears yellow"></i>
        <h3>Free updates</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="feature-box wow animated fadeInDown" data-wow-delay="0.6s">
        <i class="icon-browser gold"></i>
        <h3>Cross Browser</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus.
        </p>
      </div>
    </div>
  </div>
</section>

<!--pricing start-->
<section id="pricing" class="pricing-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 center-title">
        <i class="icon-pricetags"></i>
        <h2>Les prochains cours</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quas necessitatibus nesciunt temporibus, adipisci aliquid inventore et quaerat alias.</p>
      </div>
    </div><!--center title row end-->
    <div class="row">
      <div class="col-sm-4">
        <div class="price-box text-center wow animated fadeInUp" data-wow-delay="0.1s">
          <i class="icon-phone"></i>
          <h3>Single Application</h3>
          <div class="price">
              <sup>$</sup>19
          </div>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <a href="#" class="btn btn-lg btn-default btn-radius">Learn More</a>
        </div><!--price box end-->
      </div><!--price col end-->
      <div class="col-sm-4">
        <div class="price-box text-center wow animated fadeInUp" data-wow-delay="0.2s">
          <i class="icon-tablet"></i>
          <h3>Multi Application</h3>
          <div class="price">
              <sup>$</sup>40
          </div>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <a href="#" class="btn btn-lg btn-default btn-radius">Learn More</a>
        </div><!--price box end-->
      </div><!--price col end-->
      <div class="col-sm-4">
        <div class="price-box text-center wow animated fadeInUp" data-wow-delay="0.3s">
          <i class="icon-laptop"></i>
          <h3>Extended</h3>
          <div class="price">
              <sup>$</sup>599
          </div>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <a href="#" class="btn btn-lg btn-default btn-radius">Learn More</a>
        </div><!--price box end-->
      </div><!--price col end-->
    </div>
  </div>
</section>

<% content_for :js do %>
<script>
$('.banner-slider').backstretch([
         "<%= image_path('http://res.cloudinary.com/dj8owx8ry/image/upload/b_rgb:9f9696,o_66/v1466181641/yoga-sagesse-millenaire_uzi4nc.jpg') %>",
         "<%= image_path('http://res.cloudinary.com/dj8owx8ry/image/upload/b_rgb:817a7a,o_54/v1465905333/tdozp4ogkxylbbd70i2r.jpg') %>"
     ], {
        fade: 750,
         duration: 3000
  });
</script>
<% end %>