<section id="home" class="banner-intro banner-slider">
  <div class="banner-inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-8  col-sm-offset-2 text-center wow animated bounceIn">
          <h1><%= t('.tagline') %></h1>
          <p class="lead">
            <!-- A Beautiful and simplest way to build your next landing page. -->
          </p>

          <div class="scroll-to banner-buttons">
          <%= render 'search' %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 center-title">
        <h2 class="text"><%= t('.help') %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="feature-box wow animated fadeInDown" data-wow-delay="0.1s">
          <i class="fa fa-search"></i>
          <h3>Rechercher</h3>
          <p>
            Vous recherchez un cours qui correspond à vos besoins.
            Avec Yoga Story, trouvez le cours le plus proche de chez vous!
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="feature-box wow animated fadeInDown" data-wow-delay="0.2s">
          <i class="fa fa-check"></i>
          <h3>Réserver</h3>
          <p>
            Je réserve mon cours et je paie en ligne.
            Avec Yoga Story, trouvez le cours le plus proche de chez vous!
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="feature-box wow animated fadeInDown" data-wow-delay="0.3s">
          <i class="fa fa-heart"></i>
          <h3>Participer</h3>
          <p>
            Je me rends à mon cours et passe un super moment.
            Avec Yoga Story, trouvez le cours le plus proche de chez vous!
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="blog">
  <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 center-title">
          <h2>Notre sélection du mois</h2>
        </div>
      </div><!--center title row end-->

      <div class="row">
        <div id="owl-news">
          <div class="col-md-4">
            <div class="item">
              <%= image_tag("http://res.cloudinary.com/dj8owx8ry/image/upload/v1466591298/Photo%20cours/cours19.jpg") %>                
              <h3 class="home"><a href='#'>Amazing Updates</a></h3>
                <ul class="list-inline">
                  <li><a href="#"><i class="ti-user"></i> By Admin</a></li>
                  <li><a href="#"><i class="ti-comments"></i> 4 Comments</a></li>
                  <li><i class="ti-calendar"></i> 27 Sep. 2015</li>
                </ul>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. <S> </S>malesuada facilisis.
                  </p>                                
                  <a href="#" class="btn btn-default card"> Participer <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
                        
          <div class="col-md-4">
            <div class="item">
              <%= image_tag("http://res.cloudinary.com/dj8owx8ry/image/upload/v1466590530/Photo%20cours/cours1.jpg") %>
              <h3 class="home"><a href='#'>Easy to customize</a></h3>
                <ul class="list-inline">
                  <li><a href="#"><i class="ti-user"></i> By Admin</a></li>
                  <li><a href="#"><i class="ti-comments"></i> 4 Comments</a></li>
                  <li><i class="ti-calendar"></i> 27 Sep. 2015</li>
                </ul>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
                  </p>                               
                  <a href="#" class="btn btn-default card"> Participer <i class="fa fa-angle-right"></i></a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="item">
              <%= image_tag("http://res.cloudinary.com/dj8owx8ry/image/upload/v1466591276/Photo%20cours/cours20.jpg") %>
              <h3 class="home"><a href='#'>Waiting for New</a></h3>
                <ul class="list-inline">
                  <li><a href="#"><i class="ti-user"></i> By Admin</a></li>
                  <li><a href="#"><i class="ti-comments"></i> 4 Comments</a></li>
                  <li><i class="ti-calendar"></i> 27 Sep. 2015</li>
                </ul>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
                  </p>                               
                  <a href="#" class="btn btn-default card"> Participer <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :js do %>
<script>
$('.banner-slider').backstretch([
         "<%= image_path('http://res.cloudinary.com/dj8owx8ry/image/upload/b_rgb:9f9696,o_66/v1466181641/yoga-sagesse-millenaire_uzi4nc.jpg') %>",
         "<%= image_path('http://res.cloudinary.com/dj8owx8ry/image/upload/b_rgb:817a7a,o_54/v1465905333/tdozp4ogkxylbbd70i2r.jpg') %>"
     ], {
        fade: 750,
         duration: 3000
  });
</script>
<% end %>