<!-- Include Google Maps JS API -->
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['GOOGLE_API_BROWSER_KEY']%>">
</script>

<script type="text/javascript" src="autocomplete.js"></script>

<%= render 'search' %>

<% if @lessons == [] %>
  <p> <%= t('.no_result') %> </p>
  <% Lesson.all.each do |lesson| %>
    <%= link_to lesson.name, lesson_path(lesson) %>
    <%= lesson.start_date %>
    <%= lesson.address %>
  <% end %>
<% else %>
  <% @lessons.each do |lesson| %>
    <%= link_to lesson.name, lesson_path(lesson) %>
    <%= lesson.start_date %>
    <%= lesson.address %>
  <% end %>
<% end %>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
