<section id="home" class="home-newsletter">
    <div class="row">
        <div class="col-sm-12 center-title">
            <h2><i class="fa fa-calendar"></i> <%= t('.search') %></h2>
        </div>
    </div>
</section>

<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-8  col-sm-offset-2 text-center wow animated bounceIn">
        <div class="scroll-to banner-buttons">
        <%= render 'search' %>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="blog" id="search">
  <div class="container">
    <% if @lessons == [] %>
    <div class="row">
      <div class="col-sm-12 center-title">
        <p> <%= t('.no_result') %> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 scroll">
        <% Lesson.all.where(status: 'confirmed').where('start_date >= ?', DateTime.now).order(:start_date).each do |lesson| %>
        <div class="col-sm-6">
          <div class="item" id='search-item'>
            <%= image_tag("http://res.cloudinary.com/dj8owx8ry/image/upload/v1466591298/Photo%20cours/cours19.jpg") %>
            <h3 class="home"><a href='#'><%= lesson.name%></a></h3>
            <ul class="list-inline">
              <li><a href="#"><i class="ti-user"></i> By <%= lesson.teacher.first_name %></a></li>
              <li><i class="ti-calendar"></i><%= lesson.start_date.to_time.to_formatted_s(:short) %></li>
              <li><a href="#"><i class="ti-comments"></i><%= lesson.price %> €</a></li>
            </ul>
            <a href="/lessons/<%= lesson.id%>" class="btn btn-default card"> Participer <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-4">
        <div id="map" style="width: 100%; height: 430px;"></div>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="col-sm-8 scroll">
        <% @lessons.each do |lesson| %>
        <div class="col-sm-6">
          <div class="item" id="search-item">
            <%= cl_image_tag(lesson.photo) %>
            <h3 class="home"><a href='#'><%= lesson.name%></a></h3>
            <ul class="list-inline">
              <li class="ti-user"><a href="/teachers/<%= lesson.teacher_id %>"><i class="ti-user"></i> By &nbsp;<%= lesson.teacher.first_name %></a></li>
              <li><i class="ti-calendar"></i><%= lesson.start_date.to_time.to_formatted_s(:short) %></li>
              <li><a href="#"><i class="ti-comments"></i><%= lesson.price %> €</a></li>
            </ul>
            <a href="/lessons/<%= lesson.id%>" class="btn btn-default card"> Participer <i class="fa fa-angle-right"></i></a>
          </div>
        </div><!--price col end-->
        <% end %>
      </div>
      <div class="col-sm-4">
        <div id="map" style="width: 100%; height: 430px;"></div>
      </div>
    </div>
    <% end %>
  </div>
</section>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
