<h1><%= t('.my_lessons') %></h1>

<% @lessons.each do |lesson| %>
  <%= link_to lesson.name, lesson_path(lesson) %>
  <%= lesson.start_date %>
  <%= lesson.end_date %>
  <%= lesson.status %>
  <%= link_to t('.edit_lesson'), edit_lesson_path(lesson) %>
  <% if lesson.status == 'confirmed' %>
    <%= link_to t('.cancel_lesson'), cancel_lesson_path(lesson) %>
  <% else %>
    <%= link_to t('.reoffer_lesson'), edit_lesson_path(lesson) %>
  <% end %><br>
<% end %>

<%= link_to t('.add_lesson'), new_lesson_path %>
