<div class="col-md-10 col-md-offset-1">
  <h2>Détails du cours</h2>
  <div class="row">
    <div id="owl-news">
      <div class="col-md-4">
        <div class="w3-container w3-light-grey text-center">

          <div class="item">
            <h3 class="home text-center red"><%= @lesson.name %></h3>
              <ul class="list-inline">
                <li><%= cl_image_tag @lesson.photo %></li>
                <li>
                <%= link_to show_avatar, teacher_path(@lesson.teacher)%>
                <%= simple_form_for([@lesson.teacher, @message]) do |f| %>
                <%= f.error_notification %>
                <%= f.input :content %>
                <div class="text-center">
                <%= f.button :submit %></div>
                <% end %>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Informations supplémentaires</h4>

        <blockquote class="w3-container w3-leftbar w3-light-grey">

          <div class="list-group">
            <h6 class="list-group-item"> <i class="fa fa-calendar fa-lg red"></i>&nbsp; <%= @lesson.start_date.strftime("%d/%M/%Y à %Hh%M") %></h6>
            <h6 class="list-group-item"><span class="red">Place(s) disponible(s): </span><%= @lesson.max_students - @lesson.bookings.size %> / <%= @lesson.max_students %></h6>
            <h6 class="list-group-item"><i class="fa fa-spinner fa-pulse fa-lg fa-fw red"></i>&nbsp; <%= @lesson.hours %> heures <% if @lesson.minutes != 0 %> <%= @lesson.minutes %> minutes <br> <% end %></h6>

            <h6 class="list-group-item"><i class="fa fa-map-marker fa-lg red"></i>&nbsp; <%= @lesson.location_name %>
            <%= @lesson.street_number %><%= @lesson.address %>
            <%= @lesson.zip_code %><%= @lesson.city %>
            </h6>
            <h6 class="list-group-item"><i class="fa fa-money fa-lg red" aria-hidden="true"></i>&nbsp; <%= humanized_money_with_symbol(@lesson.price) %></h6>


            <h6 class="list-group-item"><span class="red">Description : </span><%= @lesson.description %></h6>
            <span>
            <% if @lesson.teacher == current_user %>
              <%= t('.user_cannot_be_teacher') %>
              <% else %>
              <%= form_tag lesson_bookings_path @lesson do %>
                <%= submit_tag 'Purchase', class: 'btn btn-primary pull-right' %>
                <% end %>
            <% end %>
            </span>
          </div>



        </blockquote>
      </div>
    </div>
  </div>
</div>



<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @marker.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
      });
    })
  <% end %>
<% end %>
