<section id="home" class="home-newsletter">
    <div class="row no-margin">
        <div class="col-sm-12 center-title">
            <h2><i class="fa fa-calendar"></i> <%= t('.my_lessons') %></h2>
        </div>
        <div class="col-sm-12 text-center">
          <%= link_to t('.add_lesson'), new_lesson_path, class:"btn btn-lg btn-skin btn-radius" %>
        </div>
    </div>
</section>

<section class="blog" id="search">
  <div class="container">

    <div class="row">
      <% if @lessons == [] %>
      <div class="col-sm-8  col-sm-offset-2 text-center wow animated bounceIn">
        <p> <%= t('.no_lesson')  %> </p>
      </div>
      <% end %>

    </div>

    <% if @lessons.where('start_date >= ?', DateTime.now) != [] %>
    <div class="row">
      <div class="col-sm-12 center-title wow animated bounceIn padded-custom">
        <h2><%= t('.next_lessons') %></h2>
      </div>
      <% @lessons.where('start_date >= ?', DateTime.now).order(:start_date).each do |lesson| %>
      <div class="col-sm-4">
        <div class="item" id='search-item-list'>
          <h3 class="home"><a href='/lessons/<%=lesson.id%>'><%= lesson.name%></a></h3>
          <ul class="list-inline">
            <li><a href="#"><i class="ti-user"></i><%= lesson.bookings.count %> inscrits</a></li>
            <li><i class="ti-calendar"></i><%= lesson.start_date.to_time.to_formatted_s(:short) %></li>
            <li><a href="#"><i class="ti-comments"></i><%= lesson.price %> €</a></li>
          </ul>
          <% if lesson.status == 'confirmed' %>
          <a href="/lessons/<%= lesson.id%>/edit" class="btn btn-default card"> Modifier </a>
          <a href="/lessons/<%= lesson.id%>/cancel" class="btn btn-default card"> Annuler </a>
          <% else %>
          <a href="#" class="btn btn-black card"> Annulé </a>
          <a href="/lessons/<%= lesson.id%>/edit" class="btn btn-default card"> Reproposer </a>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if @lessons.where('start_date < ?', DateTime.now) != [] %>
    <div class="row">
      <div class="col-sm-12 center-title wow animated bounceIn padded-custom">
        <h2><%= t('.past_lessons') %></h2>
      </div>
      <% @lessons.where('start_date < ?', DateTime.now).order(:start_date).each do |lesson| %>
      <div class="col-sm-4">
        <div class="item" id='search-item-list'>
          <h3 class="home"><a href="/lessons/<%=lesson.id%>"> <%= lesson.name%></a></h3>
          <ul class="list-inline">
            <li><a href="#"><i class="ti-user"></i> <%= lesson.bookings.count %> inscrits</a></li>
            <li><i class="ti-calendar"></i><%= lesson.start_date.to_time.to_formatted_s(:short) %></li>
            <li><a href="#"><i class="ti-comments"></i><%= lesson.price %> €</a></li>
          </ul>
          <a href="/lessons/<%= lesson.id%>/edit" class="btn btn-default card"> Reproposer </a>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

  </div>
</section>
