<h1>Purchase of lesson <%= @booking.lesson_sku %></h1>
<%= form_tag booking_payments_path(@booking) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@booking.amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Teddy"
    data-description="Lesson <%= @booking.lesson_sku %>"
    data-amount="<%= @booking.amount_cents %>"
    data-currency="EUR"></script>

<% end %>
